.textfield {
  background : black;
  border : 1px solid #888;
  border-radius : 2px;
  padding : 3px 10px;
  color : white;
}

.textfield[disabled=disabled] {
  background : #3a3a3a;
}

.textfield-small {
  width : 50px;
}

.button {
  height: 24px;
  border: none;
  box-sizing: border-box;
  border-top: 1px solid #666;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  background-color: #3f3f3f;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px -1px 0 #000;
  transition: background-color 0.2s linear;
}

.button:hover {
  text-decoration: none;
  background-color: #484848;
  color: gold;
}