
.preview-container {
  position : absolute;
  bottom : 0; right : 0;
  height : 285px;
  width : 256px;
  background : white;
  border : 0px Solid black;
  border-radius:5px 0px 0px 5px;
  box-shadow : 0px 0px 2px rgba(0,0,0,0.2);
}

.preview-container canvas {
  border : 0px Solid transparent;
  border-radius:5px 0px 0px 5px;
}

#preview-fps {
  width : 200px;
}