
.preview-list {
  list-style-type: none;
}

.preview-tile {
  padding : 10px;
  overflow: hidden;
  background-color: gray;
}

.preview-tile .canvas-container {
  float: left;
}

.preview-tile .tile-view {
  float: left;
  border: blue 1px solid;
}

.preview-tile .tile-action {
  display: none;
  float: right;
}

.preview-tile:hover .tile-action {
  display: block;
}

.preview-tile:hover {
  background-color: lightgray;
}

.preview-tile.selected {
  background-color: lightyellow;
}

.preview-tile.ui-draggable-dragging {
  opacity: 0.3;
}


.preview-tile.droppable-active {
  background-color: pink;
}

.interstitial-tile.droppable-hover-active {
  background-color: purple;
}

.preview-tile.droppable-hover-active {
  background-color: yellow;
}

.interstitial-tile {
  visibility: hidden;
  background-color: blue;
  height: 10px;
}

.show-interstitial-tiles .interstitial-tile {
  visibility: visible;
}