html, body {
  height : 100%; width: 100%;
  margin : 0;
  overflow: hidden;
  cursor : default;
  font-family: arial;
  font-size: 11px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul, li {
  margin : 0;
  padding : 0;
  list-style-type: none;
}


/* Force apparition of scrollbars on leopard */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(180,180,180,.7);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}