html, body {
  height : 100%;
  margin : 0;
  cursor : default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul, li {
  margin : 0;
  padding : 0;
}

.debug {
  border : 1px Solid black;
}

.left-nav {
  position:absolute;
  top : 0;
  bottom : 0;
  width : 200px;
  background : #000;
  padding : 10px;
}

.main-panel {
  position:absolute;
  top : 0;
  bottom : 0;
  left : 200px;
  right : 0;
  background : #ccc;
}

.preview-container {
  position : absolute;
  top : 30px;
  right : 0;
  height : 256px;
  width : 256px;
  background : white;
  border : 0px Solid black;
  border-radius:5px 0px 0px 5px;
  box-shadow : 0px 0px 2px rgba(0,0,0,0.2);
}

.preview-container canvas{
  border : 0px Solid transparent;
  border-radius:5px 0px 0px 5px;
}

#cursorInfo {
  position : fixed;
  cursor : default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.action-button {
  background-color: white;
  width: 118px;
  padding: 5px;
  text-align: center;
  border-radius: 2px;
  display: inline-block;
  font-family: Arial;
  cursor: pointer;
  color: white;
  background: #aaa;
  text-shadow: 0 -1px 0 #888;
}

.action-button:hover {
  background: #b0b0b0;
}

.action-button:active {
  background: #9a9a9a;
}

#preview-list li{
  margin : 10px 0;
  width : 128px;
  height : 128px;
}

#preview-list li.selected{
  margin : 8px -2px;
  border : 2px Solid red;
}