<div class="settings-section">
  <div class="settings-title">
    Canvas settings:
  </div>
  <div class="settings-item">
    <label>Background:</label>
    <div id="background-picker-wrapper" class="background-picker-wrapper">
      <div class="background-picker light-picker-background" data-background-class="light-canvas-background"
            rel="tooltip" data-placement="bottom" title="light / high contrast">
      </div>
      <div class="background-picker medium-picker-background" data-background-class="medium-canvas-background"
            rel="tooltip" data-placement="bottom" title="medium / high contrast">
      </div>
      <div class="background-picker lowcont-medium-picker-background" data-background-class="lowcont-medium-canvas-background"
            rel="tooltip" data-placement="bottom" title="medium / low contrast">
      </div>
      <div class="background-picker lowcont-dark-picker-background" data-background-class="lowcont-dark-canvas-background"
            rel="tooltip" data-placement="bottom" title="dark / low contrast">
      </div>
    </div>
  </div>
  <div class="settings-item">
    <label for="grid-width">Grid :</label>
    <select id="grid-width">
      <option value="0">Disabled</option>
      <option value="1">Enabled - 1px wide</option>
      <option value="2">Enabled - 2px wide</option>
      <option value="3">Enabled - 3px wide</option>
      <option value="4">Enabled - 4px wide</option>
    </select>
  </div>

  <!-- <div class="settings-item">
    <label for="tiled-preview">Display tiled preview :</label>
    <input type="checkbox" value="1" id="tiled-preview" name="tiled-preview-checkbox"/>
  </div> -->
</div>

