<div class="settings-section">
  <div class="settings-title">
    Export Spritesheet as PNG
  </div>
  <div class="settings-item">
    <span>Preview : </span>
    <div class="png-export-preview"></div>
    <div class="png-export-radio-group"></div>
    <input type="button" class="button button-primary png-download-button" value="Download PNG" />
    <input type="button" class="button png-upload-button" value="Upload PNG" />
    <!-- <input type="button" class="button png-download-button" value="Download" /> -->
    <div class="png-upload-status"></div>
  </div>
  <div class="settings-title">
    Export Spritesheet as ZIP
  </div>
  <div class="settings-item">
    <span>A ZIP archive will be created with one PNG file per frame.</span>
    <div style="margin-top:10px;">
      <button type="button" class="button button-primary zip-generate-button"/>Download ZIP</button>
    </div>
  </div>
</div>