<script type="text/html" id="templates/settings/export.html">
  <div class="settings-section settings-section-export">
    <div class="settings-title">Export</div>
    <div class="settings-item export-scale" title="Scale the animation for export"
        rel="tooltip"
        data-placement="top">
      <label for="scale-input">Scale</label>
      <input type="range" class="scale-input" name="scale-input" min="1"  max="32" step="1"/>
      <span class="scale-text"></span>
    </div>
    <div class="settings-item export-resize">
      <span class="resize-label">Resolution</span>
      <input type="text" class="textfield  resize-field  resize-width" autocomplete="off" name="resize-width"/>
      <div class="resize-label">x</div>
      <input type="text" class="textfield  resize-field  resize-height" autocomplete="off" name="resize-height"/>
    </div>
    <div class="export-tabs">
      <div class="export-tab" data-tab-id="gif">GIF</div>
      <div class="export-tab" data-tab-id="png">PNG</div>
      <div class="export-tab" data-tab-id="zip">Zip</div>
      <div class="export-tab" data-tab-id="misc">Others</div>
    </div>
    <div class="export-panel"></div>
  </div>
</script>
