<div class="settings-section">
  <div class="settings-title">
    Export Spritesheet
  </div>
  <div class="settings-item">
    <span class="settings-description">PNG with all frames side by side.</span>
    <button type="button" class="button button-primary png-download-button">Download PNG</button>
  </div>
  <div class="settings-title">
    Export as ZIP
  </div>
  <div class="settings-item">
    <span class="settings-description">ZIP with one PNG file per frame.</span>
    <span class="settings-description" style="display:block">File names will start with the prefix below.</span>
    <div class="settings-item">
      <label>Prefix</label>
      <input class="zip-prefix-name  textfield" type="text" placeholder="PNG file prefix ...">
    </div>
  <div class="settings-item">
      <label>
        <input class="zip-split-layers-checkbox  checkbox-fix" type="checkbox" />
        Split by layers
      </label>
    </div>
    <button type="button" class="button button-primary zip-generate-button"/>Download ZIP</button>
  </div>
  <div class="settings-title">
    Export to Animated GIF
  </div>
  <div class="settings-item">
    <form action="" method="POST" class="gif-export-form">
      <div class="settings-item">
        <label>Select resolution:</label>
        <div class="resize-section">
          <span  class="resize-section-title">Width</span>
          <input type="text" class="textfield  export-size-field  export-gif-resize-width" name="resize-width"/>
          <span>px</span>
        </div>
        <div class="resize-section">
          <span  class="resize-section-title">Height</span>
          <input type="text" class="textfield  export-size-field  export-gif-resize-height" name="resize-height"/>
          <span>px</span>
        </div>
      </div>
      <div class="settings-item">
        <button type="button" class="button button-primary gif-download-button">Download GIF</button>
        <button type="button" class="button button gif-upload-button">Get public URL</button>
      </div>
    </form>
    <div class="gif-upload">
      <div class="gif-export-preview"></div>
      <div class="gif-upload-status"></div>
    </div>
  </div>
</div>
