<div class="settings-section">
  <div class="settings-title">
    Export to PNG
  </div>
  <div class="settings-item">
    <span>Preview : </span>
    <div class="png-export-preview"></div>
    <form action="" method="POST" name="png-export-upload-form">
      <div class="png-export-radio-group"></div>
      <input type="submit" class="button button-primary png-upload-button" value="Upload" />
      <!-- <input type="button" class="button png-download-button" value="Download" /> -->
      <div class="png-upload-status"></div>
    </form>
  </div>
</div>