<script type="text/html" id="templates/settings/preferences.html">
  <div class="settings-section settings-section-preferences">
    <div class="settings-title">Settings</div>
    <div class="tab-list">
      <div class="tab-item" data-tab-id="misc">Misc</div>
      <div class="tab-item" data-tab-id="grid">Grid</div>
      <div class="tab-item" data-tab-id="tile">Tile mode</div>
    </div>
    <div class="tab-content"></div>
    <div class="settings-version-info">
      Piskel
      <span rel="tooltip" data-placement="bottom" title="View release notes">
        <a  class="settings-version" target="_blank"
            href="https://github.com/piskelapp/piskel/releases/tag/v@@releaseVersion">v@@releaseVersion</a>
      </span>
    </div>
  </div>

</script>
