<div class="settings-section">
  <div class="settings-title">
    Resize drawing area
  </div>
  <div class="settings-item">
    <form action="" method="POST" name="resize-form">
      <div class="resize-section">
        <span  class="resize-section-title">Width</span>
        <input type="text" class="textfield resize-size-field" name="resize-width"/>
        <span>px</span>
      </div>
      <div class="resize-section">
        <span  class="resize-section-title">Height</span>
        <input type="text" class="textfield resize-size-field" name="resize-height"/>
        <span>px</span>
      </div>
      <div class="resize-section">
        <span  class="resize-section-title">Origin</span>
        <div class="resize-origin-container">
          <div class="resize-origin-option  selected" data-origin="TOPLEFT">TOP-L</div>
          <div class="resize-origin-option" data-origin="TOP">TOP</div>
          <div class="resize-origin-option" data-origin="TOPRIGHT">TOP-R</div>
          <div class="resize-origin-option" data-origin="MIDDLELEFT">MID-L</div>
          <div class="resize-origin-option" data-origin="MIDDLE">MID</div>
          <div class="resize-origin-option" data-origin="MIDDLERIGHT">MID-R</div>
          <div class="resize-origin-option" data-origin="BOTTOMLEFT">BOT-L</div>
          <div class="resize-origin-option" data-origin="BOTTOM">BOT</div>
          <div class="resize-origin-option" data-origin="BOTTOMRIGHT">BOT-R</div>
        </div>
      </div>
      <div class="resize-section">
        <input type="checkbox" class="resize-content-checkbox" name="resize-content-checkbox" value="true"/>
        <span>Resize content</span>
      </div>
      <input type="submit" class="button button-primary resize-button" value="Resize" />
      <input type="button" class="button resize-cancel-button" value="Cancel" />
    </form>
  </div>
</div>