<div class="settings-section">
  <form action="" method="POST" name="save-form">
    <div class="settings-title">Describe your piskel</div>
    <div class="settings-item">
      <div class="settings-form-section" style="overflow:hidden">
        <label class="row" style="float:left;line-height:28px;">Title : </label>
        <input id="save-name" type="text" class="save-field textfield" style="float:left;width:198px;margin-left:10px;"/>
      </div>
      <div class="settings-form-section">
        <textarea id="save-description" class="save-field textfield" placeholder="Description ..."></textarea>
      </div>
      <div class="settings-form-section save-public-section">
        <label class="row">
          Public : <input type="checkbox" value="1" name="save-public-checkbox"/>
        </label>
      </div>
    </div>
    <div class="settings-title">Save online</div>
    <div class="settings-item">
      <input type="button" class="button button-primary" id="save-online-button" value="Save to your gallery" />
      <div id="save-online-status" class="save-status"></div>
    </div>
    <div class="settings-title">Save offline in Browser</div>
    <div class="settings-item">
      <input type="button" class="button button-primary" id="save-browser-button" value="Save in Browser" />
      <div id="save-browser-status" class="save-status">Your piskel will be saved locally and will only be accessible from this browser.</div>
    </div>
    <div class="settings-title">Save offline as File</div>
    <div class="settings-item">
      <input type="button" class="button button-primary" id="save-file-button" value="Save as File" />
      <div id="save-file-status" class="save-status"></div>
    </div>
  </form>

  <script type="text/template" id="save-please-login-partial">
    <span>Login to <a href="http://piskelapp.com" target="_blank">piskelapp.com</a> to save and share your sprites online !</span>
  </script>

  <script type="text/template" id="save-online-status-partial">
    <span>Your piskel will be stored online in your gallery.</span>
  </script>

  <script type="text/template" id="save-file-status-template">
    <span>Your piskel will be downloaded as <span class="save-file-name">{{name}}<span></span>
  </script>
</div>