# mac artefacts
*.DS_Store

# sublime text stuff (the -project should actually be shared, but then we'd have to share the same disk location)
*.sublime-project
*.sublime-workspace

# git stackdumps
*.stackdump