# mac artefacts
*.DS_Store

# nodejs local installs
node_modules
npm-debug.log

# sublime text stuff (the -project should actually be shared, but then we'd have to share the same disk location)
*.sublime-project
*.sublime-workspace

# git stackdumps
*.stackdump


# diffs
diff.txt

# build destination
dest

# marked as private
*.private.*