# mac artefacts
*.DS_Store

# nodejs local installs
node_modules
npm-debug.log

# node webkit cache
cache

# sublime text stuff (the -project should actually be shared, but then we'd have to share the same disk location)
*.sublime-project
*.sublime-workspace

# git stackdumps
*.stackdump


# diffs
diff.txt

# build destination
dest
dest-dev
dest-tmp
build/closure/closure_compiled_binary.js

# spriting artifacts
src/img/icons.png
src/css/icons.css

# plato report directory
report

# marked as private
*.private.*