<div class="toolbox-container layers-list-container">
  <h3 class="toolbox-title layers-title">Layers
    <div rel="tooltip"
         data-placement="left"
         class="layers-toggle-preview piskel-icon-eye"></div>
  </h3>
  <div class="toolbox-buttons">

    <div class="tooltip-wrapper" data-toggle="tooltip" rel="tooltip" data-html="true" data-placement="top">
    <button data-action="add"
      class="button layers-button piskel-icon-plus"></button>
    </div>

    <div class="tooltip-wrapper" data-toggle="tooltip" rel="tooltip" data-html="true" data-placement="top">
    <button data-action="up"
      class="button layers-button piskel-icon-arrow-up-fat"></button>
    </div>

    <div class="tooltip-wrapper" rel="tooltip" data-html="true" data-placement="top">
    <button data-action="down"
      class="button layers-button piskel-icon-arrow-down-fat"></button>
    </div>

    <div class="tooltip-wrapper" rel="tooltip" data-html="true" data-placement="top">
    <button data-action="edit"
      class="button layers-button piskel-icon-pencil"></button>
    </div>

    <div class="tooltip-wrapper" rel="tooltip" data-html="true" data-placement="top">
    <button data-action="merge"
      class="button layers-button piskel-icon-merge"></button>
    </div>

    <div class="tooltip-wrapper" rel="tooltip" data-html="true" data-placement="top">
    <button data-action="delete"
      class="button layers-button piskel-icon-close"></button>
    </div>

  </div>

  <ul class="layers-list"></ul>

  <script type="text/template" id="layer-item-template">
    <li class="layer-item {{isselected:current-layer-item}}"
        data-layer-index="{{layerindex}}">
        <span class="layer-name" data-placement="top">{{layername}}</span>
        <span class="layer-item-opacity"
              title="Layer opacity" rel="tooltip" data-placement="top">
          {{opacity}}&#945;
        </span>
    </li>
  </script>
</div>
