<div class="toolbox-container layers-list-container">
  <h3 class="toolbox-title layers-title">Layers
    <div rel="tooltip"
         data-placement="left"
         class="layers-toggle-preview piskel-icon-eye"></div>
  </h3>
  <div class="toolbox-buttons">
    <button data-action="add"
      class="button layers-button piskel-icon-plus"
      rel="tooltip" data-placement="top" ></button>

    <button data-action="up"
      class="button layers-button piskel-icon-arrow-up-fat"
      title="Move layer up" rel="tooltip" data-placement="top" ></button>

    <button data-action="down"
      class="button layers-button piskel-icon-arrow-down-fat"
      title="Move layer down" rel="tooltip" data-placement="top" ></button>

    <button data-action="edit"
      class="button layers-button piskel-icon-pencil"
      title="Edit layer name" rel="tooltip" data-placement="top"></button>

    <button data-action="merge"
      class="button layers-button piskel-icon-merge"
      title="Merge with layer below" rel="tooltip" data-placement="top" ></button>

    <button data-action="delete"
      class="button layers-button piskel-icon-close"
      title="Delete selected layer" rel="tooltip" data-placement="top" ></button>

  </div>

  <ul class="layers-list"></ul>

  <script type="text/template" id="layer-item-template">
    <li class="layer-item {{isselected:current-layer-item}}"
        data-layer-index="{{layerindex}}">
        <span class="layer-name" data-placement="top">{{layername}}</span>
        <span class="layer-item-opacity"
              title="Layer opacity" rel="tooltip" data-placement="top">
          {{opacity}}&#945;
        </span>
    </li>
  </script>
</div>
