<div style="display:none">
  <script type="text/template" id="progress-bar-template">
    <div class="progress-bar-container">
      <div class="progress-bar-name">{{name}}</div>
      <div class="progress-bar-item progress-bar"></div>
      <div class="progress-bar-item progress-bar-status">{{status}}%</div>
    </div>
  </script>

  <script type="text/template" id="popup-preview-partial">
    <style>
      body {
        margin: 0;
      }

      .preview-container {
        width : 100%;
        height : 100%;
      }

      .tiled-frame-container {
        height: 100%;
        width: 100%;
        position: relative;
        background-repeat : repeat;
      }
    </style>
    <div class="popup-container">
      <div class="preview-container"></div>
    </div>
  </script>

</div>