<div id="animated-preview-container" class="preview-container">
  <div class="canvas-container-wrapper minimap-container">
    <div class="preview-contextual-actions">
      <div class="preview-drop-down">
        <div class="preview-disable-overlay" rel="tooltip" data-placement="left"></div>
        <div class="preview-contextual-action  original-size-button" rel="tooltip" data-placement="left">1x</div>
        <div class="preview-contextual-action  best-size-button" rel="tooltip" data-placement="left"></div>
        <div class="preview-contextual-action  full-size-button" rel="tooltip" data-placement="left">Full</div>
      </div>
      <div class="preview-contextual-action  open-popup-preview-button  icon-minimap-popup-preview-arrow-white"
           title="Open preview in popup" rel="tooltip" data-placement="bottom"></div>
    </div>

    <div id="animated-preview-canvas-container" class="canvas-container">
      <div class="canvas-background"></div>
    </div>
  </div>
  <div>
    <div rel="tooltip"
         data-placement="bottom"
         class="piskel-icon-onion preview-toggle-onion-skin"></div>
    <span id="display-fps" class="display-fps"></span>
    <input id="preview-fps" class="range-fps" type="range" min="0" max="24"/>
  </div>
  <div>
  </div>
</div>