<div class="vertical-centerer">
  <div
    data-setting="user"
    class="tool-icon icon-settings-gear-white"
    title="<span class='highlight'>PREFERENCES</span></br>"
    rel="tooltip" data-placement="left">
  </div>

  <div
    data-setting="resize"
    class="tool-icon  icon-settings-resize-white"
    title="<span class='highlight'>RESIZE</span></br>Resize the drawing area"
    rel="tooltip" data-placement="left">
  </div>

  <div
    data-setting="save"
    class="tool-icon  icon-settings-save-white"
    title="<span class='highlight'>SAVE</span></br>Save to your gallery, save locally<br/>or export as a file"
    rel="tooltip" data-placement="left" >
  </div>

  <div
    data-setting="export"
    class="tool-icon  icon-settings-export-white"
    title="<span class='highlight'>EXPORT</span></br>Export as Image, as Spritesheet<br/>or as Animated GIF"
    rel="tooltip" data-placement="left">
  </div>

  <div
    data-setting="import"
    class="tool-icon  icon-settings-open-folder-white"
    title="<span class='highlight'>IMPORT</span></br>Import an existing image,<br/>an animated GIF or a .piskel file"
    rel="tooltip" data-placement="left">
  </div>

</div>