<script type="text/template" id="templates/dialogs/performance-info.html">
  <div class="dialog-wrapper">
    <h3 class="dialog-head">
      Performance issues
      <span class="dialog-close">X</span>
    </h3>
    <div class="dialog-performance-info-body">
      <p>Your current sprite exceeds the recommendations for Piskel.</p>
      <p>The specifications are based on:</p>
       <ul>
        <li>sprite resolution <sup title="recommended: lower than 256x256, max: 512x512" rel="tooltip" data-placement="top">?</sup></li>
        <li>number of frames <sup title="recommended: lower than 25, max: 100" rel="tooltip" data-placement="top">?</sup></li>
        <li>number of layers <sup title="recommended: lower than 5, max: 20" rel="tooltip" data-placement="top">?</sup></li>
        <li>number of colors <sup title="max: 100" rel="tooltip" data-placement="top">?</sup></li>
      </ul>
      <p>You can ignore this message and continue working with your sprite but you might experience the following issues:</p>
      <ul>
        <li>unable to save</li>
        <li>slowdowns</li>
        <li>crashes</li>
      </ul>
      <p>If you do ignore this warning and proceed, please make sure to save often!</p>
      <p>We strive to improve Piskel as well as its performance and stability, but this is only a personal project with limited time and resources.</p>
      <p>So for now we prefer to warn you early rather than having you lose your work.</p>
      <p>Feel free to give us feedback about this feature at <a href="https://github.com/juliandescottes/piskel" target="_blank">https://github.com/juliandescottes/piskel</a></p>
      <p>Thank you for your understanding.</p>
    </div>
  </div>
</script>