<script type="text/template" id="templates/dialogs/unsupported-browser.html">
  <div class="dialog-wrapper">
    <h3 class="dialog-head">
      Browser not supported
      <span class="dialog-close">X</span>
    </h3>
    <div class="dialog-content">
      <p>Your current browser (<span id="current-user-agent"></span>) is not supported.</p>
      <p>Piskel is currently tested for:</p>
      <ul class="supported-browser-list">
        <li>Google Chrome <a href="https://www.google.com/chrome/browser/desktop/" target="_blank">https://www.google.com/chrome/browser/desktop/</a></li>
        <li>Mozilla Firefox <a href="https://www.mozilla.org/en-US/firefox/" target="_blank">https://www.mozilla.org/en-US/firefox/</a></li>
        <li>Microsoft Edge <a href="https://www.microsoft.com/en-us/windows/microsoft-edge" target="_blank">https://www.microsoft.com/en-us/windows/microsoft-edge</a></li>
      </ul>
      <p>This browser has not been tested with Piskel, you might experience unknown bugs and crashes if you decide to continue.</p>
    </div>
  </div>
</script>