.palette-manager-wrapper {
  height: 100%;
  position: relative;
}

.palette-manager-body {
  position: absolute;
  top: 45px;
  bottom: 0;
  right: 0;
  left: 0;
}

.palette-manager-head {
  position: absolute;
  width: 100%;
  background: gold;
  margin: 0;
  padding: 10px;
  color: black;
  font-size: 1.8em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.palette-manager-drawer {
  width: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
}

.palette-manager-list {
  position: absolute;
  top:40px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

.palette-manager-actions {
  position: absolute;
  height:40px;
  line-height:40px;
  width: 100%;
  text-align: center;
}

.palette-manager-actions-button {
  width: 80px;
  margin: 5px;
}

.palette-manager-list li {
  padding-left:10px;
  font-size: 1.4em;
  height: 48px;
  line-height: 48px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-bottom: 1px solid #666;
  cursor:pointer;
}

.palette-manager-list li:hover {
  background : #222;
}

.palette-manager-list li.selected {
  color : gold;
  font-weight: bold;
}


.palette-manager-list li:nth-child(1) {
  border-top: 1px solid #666;
}

.palette-manager-details {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 200px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;

  border-left:1px solid #666;
}

.palette-manager-details-head {
  position: absolute;
  height:40px;
  line-height:40px;
  width: 100%;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.palette-manager-details-head-name {
  padding: 0 10px 0 20px;
  font-size: 1.5em;
  font-weight: bold;
}

.palette-manager-details-head-edit-icon {
  cursor: pointer;
  width: 24px;
  height: 100%;
  background: url('../../img/tools/pen.png');
  display: inline-block;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-y: 50%;
}

.palette-manager-details-head-actions {
  float: right;
  line-height: 40px;
  padding-right: 10px;
}

.palette-manager-details-body {
  position: absolute;
  top:40px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
}



.palette-manager-color-card {
  width: 120px;
  height: 180px;
  display: inline-block;
  position: relative;
  margin: 20px 0 20px 20px;
}

.palette-manager-delete-card {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;

  text-align: center;
  font-size: 1.6em;
  font-weight: bold;
  color: rgb(255,255,255);
  text-shadow : 0 0 2px rgb(0,0,0);
  cursor: pointer;

  opacity : 0.2;
  transition : opacity 0.3s, color 0.1s;
}

.palette-manager-color-card:hover .palette-manager-delete-card {
  opacity : 0.6;
}

.palette-manager-color-card .palette-manager-delete-card:hover {
  opacity : 1;
  color: rgb(240,80,80);
}

.palette-manager-new-color .palette-manager-color-square {
  border: 3px dotted #888;
  border-bottom-width: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 3px 3px 0 0;
  cursor: pointer;
  text-align: center;
  font-size: 24px;
  color: #888;
  line-height: 120px;
}

.palette-manager-color-square {
  width: 120px;
  height: 120px;
  cursor: pointer;
  /*background-image:url(../../img/tools/eyedropper.png);*/
}

.palette-manager-color-details {
  color : #888;
  background: #eee;
  height: 60px;
  padding-left: 5px;
}

.palette-manager-color-details li{
  line-height: 20px;
}