<script type="text/html" id="templates/settings/export/gif.html">
  <div class="export-panel-gif">
    <div class="export-info">
      Convert your sprite to an animated GIF. Opacity will not be preserved. Colors might be resampled.
    </div>
    <div class="export-panel-section export-panel-row">
      <button type="button" class="button button-primary gif-download-button">Download</button>
      <div>Download as an animated GIF.</div>
    </div>
    <div class="export-panel-section export-panel-row">
      <button type="button" class="button button-primary gif-upload-button">Upload</button>
      <div>Upload as an animated GIF to a public URL.</div>
    </div>
    <div class="gif-upload">
      <div class="gif-export-preview"></div>
      <div class="gif-upload-status"></div>
    </div>
  </div>
</script>