<script type="text/html" id="templates/settings/export/gif.html">
  <div class="settings-title">
    Export to Animated GIF
  </div>
  <div class="settings-item">
    <form action="" method="POST" class="gif-export-form">
      <div class="settings-item">
        <button type="button" class="button button-primary gif-download-button">Download GIF</button>
        <button type="button" class="button button gif-upload-button">Get public URL</button>
      </div>
    </form>
    <div class="gif-upload">
      <div class="gif-export-preview"></div>
      <div class="gif-upload-status"></div>
    </div>
  </div>
</script>