<script type="text/html" id="templates/settings/export/misc.html">
  <div class="export-panel-misc">
    <div class="export-panel-header export-info">
      Less usual export formats. Feedback and improvements welcome.
    </div>
    <div class="export-panel-section">
      <div style="padding-bottom: 5px">
        <span style="color: gold;">Export as C File: </span>
        <span class="export-info">
          C file with frame rendered as array.
        </span>
      </div>
      <button type="button" class="button button-primary c-download-button">Download C file</button>
    </div>
  </div>
</script>