<script type="text/html" id="templates/settings/export/zip.html">
  <div class="export-panel-zip">
    <div class="export-panel-header export-info">ZIP archive containing one PNG for each frame. File names will start with the prefix below.</div>
    <div class="export-panel-section">
      <div style="display: flex; line-height: 23px;">
        <label style="flex-shrink: 0; padding-right:5px;">Prefix</label>
        <input type="text" style="flex: 1;" class="zip-prefix-name textfield"
               autocomplete="off" placeholder="PNG file prefix ...">
      </div>
      <div class="checkbox-container" style="margin: 5px 0;">
        <input id="zip-split-layers" class="zip-split-layers-checkbox checkbox-fix" type="checkbox" />
        <label for="zip-split-layers">Split by layers</label>
      </div>
      <button type="button" class="button button-primary zip-generate-button"/>Download ZIP</button>
    </div>
  </div>
</script>