html, body {
	height : 100%;
}

.debug {
	border : 1px Solid black;
}

.left-nav {
	position:absolute;
	top : 0;
	bottom : 0;
	width : 200px;
	background : #000;
}

.main-panel {
	position:absolute;
	top : 0;
	bottom : 0;
	left : 200px;
	right : 0;
	background : #ccc;
}

.preview-container {
	position : absolute;
	top : 30px;
	right : 0;
	height : 200px;
	width : 200px;
	background : white;
	border : 0px Solid black;
	border-radius:5px 0px 0px 5px;
	box-shadow : 0px 0px 2px rgba(0,0,0,0.2);
}