<script type="text/html" id="templates/settings/application/tile.html">
  <div class="application-panel-tile">
    <div class="settings-item">
      <label>
        Seamless drawing mode
        <input type="checkbox" value="1" class="seamless-mode-checkbox" name="seamless-mode-checkbox"/>
      </label>
    </div>

    <div class="settings-item">
      <label>Seamless opacity</label>
      <input type="range" class="settings-opacity-input seamless-opacity-input" name="seamless-opacity" min="0"  max="0.5" step="0.01"/>
      <span class="settings-opacity-text seamless-opacity-text"></span>
    </div>
  </div>
</script>