<div class="settings-section">
  <div class="settings-title">
    Export to Animated GIF
  </div>
  <div class="settings-item">
    <label>Select resolution:</label>
    <form action="" method="POST" name="gif-export-upload-form">
      <script type="text/template" id="export-gif-radio-template">
          <label style="display:block"><input type="radio" name="gif-dpi" value="{{value}}"/>
          {{label}}</label>
      </script>
      <div class="gif-export-radio-group"></div>
      <input type="submit" class="export-gif-upload-button" value="Upload" />
    </form>
    <div class="export-gif-preview"><div></div></div>
  </div>
</div>