<div class="settings-section">
  <div class="settings-title">
    Import Picture
  </div>
  <div class="settings-item">
    <form action="" method="POST" name="import-form">
      <div class="import-section">
        <input style="display:none" type="file" name="file-upload-input" value="file" />
        <label>File :
          <button type="button" class="button file-input-button">Browse</button>
          <span class="file-input-status"></span>
      </div>
      <div class="import-section">
        <label>Size :
          <input type="text" class="textfield import-resize-field" name="resize-width"/>x
          <input type="text" class="textfield import-resize-field" name="resize-height"/>
        </label>
      </div>
      <div class="import-section">
        <label>Smooth resize :
          <input type="checkbox" checked="checked" name="smooth-resize-checkbox"/>
        </label>
      </div>
      <input type="submit" class="button import-button" value="Import" />
    </form>
  </div>
</div>