<div class="settings-section">
  <div class="settings-title">
    Import Picture
  </div>
  <div class="settings-item">
    <form action="" method="POST" name="import-form">
      <div>
        <input type="radio" name="upload-source-type" checked="checked  " value="1"/>
        <label>From your computer :
          <input type="file" name="file-upload-input" value="file" />
        </label>
      </div>
      <div>
        <input type="radio" name="upload-source-type" value="2"/>
        <label>From the web :
          <input type="text" placeholder="url" value="url" />
        </label>
      </div>
      <input type="submit" class="export-gif-upload-button" value="Import" />
    </form>
  </div>
</div>