<div class="settings-section">
  <div class="settings-title">
    Resize drawing area
  </div>
  <div class="settings-item">
    <form action="" method="POST" name="resize-form">
      <span class="resize-warning-message">Existing frames will be cropped !</span>
      <div class="resize-section">
        <span class="resize-section-title  resize-section-title-small">Size :</span>
        <input type="text" class="textfield resize-size-field" name="resize-width"/>x
        <input type="text" class="textfield resize-size-field" name="resize-height"/>
      </div>
      <input type="submit" class="button button-primary resize-button" value="Resize" />
      <input type="button" class="button resize-cancel-button" value="Cancel" />
    </form>
  </div>
</div>