<div class="settings-section">
  <div class="settings-title">Save</div>
  <div class="settings-item">
    <form action="" method="POST" name="save-form">
      <div class="row">
        <label>Title : </label>
      </div>
      <input id="save-title" type="text" class="textfield" style="width :100%;"/>
      <div class="row">
        <label>Description :</label>
      </div>
      <textarea id="save-description" class="textfield" style="width :100%;"></textarea>
      <input type="submit" class="button button-primary gif-upload-button" value="Save" />
    </form>
  </div>
</div>