<div class="settings-section">
  <div class="settings-title">Save</div>
  <div class="settings-item">
    <form action="" method="POST" name="save-form">
      <div class="settings-form-section">
        <label class="row">Title : </label>
        <input id="save-title" type="text" style="width :100%;"/>
      </div>
      <div class="settings-form-section">
        <label class="row">Description :</label>
        <textarea id="save-description" style="width :100%;" placeholder="Your piskel in a few words"></textarea>
      </div>
      <div class="settings-form-section">
        <label class="row">
          Public <input type="checkbox" value="1" name="save-public-checkbox"/>
        </label>
      </div>
      <input type="submit" class="button button-primary save-button" value="Save" />
    </form>
  </div>
</div>