#dialog-container.import {
  width: 500px;
  height: 350px;
  top : 50%;
  left : 50%;
  position : absolute;
  margin-left: -250px;
  margin-top: -175px;
}

.import .dialog-content {
  font-size: 1.3em;
}

.import-step-container {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  background: #444;
}

.import-step-content {
  padding: 10px;
}

.import-step-buttons {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: right;
}

.import-first-step .import-back-button {
  display: none;
}

/**
 * IMAGE IMPORT STEP
 */

.import-image-container {
  padding: 10px;
}

.import-image-loading {
  opacity: 0.3;
  pointer-events: none;
}

.import-image-loading::after {
  content: 'loading image';

  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  margin-top: 110px;

  text-align: center;
  font-size: 3em;
  color: white;
  text-shadow: 0 0 60px black;
}

.import-subsection {
  margin-left: 25px;
}

.import-section:not(.import-subsection) > .dialog-section-title {
  width: 50px;
}

.import-section-preview-title {
  position: absolute;
  margin-left: 50%;
  margin-top: -28px;
}

.import-section-preview {
  position: absolute;
  display: inline-block;
  border: 1px dashed #999;
  border-radius: 3px;
  margin-left: 50%;
  top: 10px;

  width: 220px;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.import-section-preview img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.import-section-preview canvas {
  position: absolute;
}

.dialog-section-title {
  display : inline-block;
  width: 80px;
}

.dialog-section-radio {
  margin-top: 15px;
  vertical-align: sub;
}

.import-size-field:nth-of-type(2) {
  margin-left: 5px;
}

.import-image-file-name {
  display: inline-block;
  overflow: hidden;

  width: 200px;
  vertical-align: middle;

  word-break : break-all;
  white-space: nowrap;
  text-overflow: ellipsis;

  font-style: italic;
  font-weight: normal;
  text-shadow: none;
  color: var(--highlight-color);
}

[name=smooth-resize-checkbox] {
  margin : 0 8px;
}

.dialog-import-body {
  padding: 10px 20px;
  font-size:1.3em
}

/**
 * SELECT MODE
 */

.import-info {
  display: flex;
  flex-direction: column;

  height: 100%;
  max-width: 178px;
  box-sizing: border-box;

  padding: 10px;
  border-right: 3px solid gold;
}

.import-preview canvas {
  max-width: 100%;
  max-height: 100%;
}

.import-meta {
  margin-top: 10px;
  box-sizing: border-box;

  /*center meta information horizontally*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.import-meta > div {
  height: 22px;
  display: flex;
  margin-bottom: 5px;
}

.import-meta-value,
.import-meta-label {
  padding: 2px 4px;
}

.import-meta-label {
  border-radius: 2px 0 0 2px;
  color: var(--highlight-color);
}

.import-meta-value {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.import-missing {
  text-align: center;
  line-height: 70px;
  font-style: italic;
  color: #aaa;
}

.import-mode-title {
  margin-bottom: 10px
}

.import-mode-section {
  display: flex;
  border: 3px solid #666;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.import-mode-section .button {
  width: 75px;
  height: 30px;
  font-size: 14px;
  margin-left: 10px;

  flex-grow: 0;
  flex-shrink: 0;
}

.import-mode-section-description {
  flex-grow: 1;
}

.import-resize-option,
.insert-mode-option {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.import-resize-option :checked + span,
.insert-mode-option :checked + span {
  color: var(--highlight-color);
}

.import-resize-option input,
.insert-mode-option input {
  margin: 5px;
}

/**
 * ADJUST SIZE
 */
.import-resize-anchor-info {
  margin-bottom: 10px;
}

.import-resize-section {
  margin-bottom: 10px;
}

.import-resize-anchor {
  margin-top: 20px;
}

.import-resize-option :checked + span {
  color: var(--highlight-color);
}

.import-resize-warning {
  color: var(--highlight-color);
}

/**
 * INSERT LOCATION
 */

.insert-mode-container {
  margin-top: 20px;
  margin-bottom: 10px;
}

.insert-frame-preview {
  margin: 10px 0;
}

.insert-frame-preview .frame-picker-wrapper {
  height: 120px;
}