.preview-list-wrapper {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.preview-list-scroller {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

.top-overflow,
.bottom-overflow {
  height: 20px;
  position: absolute;
  left: 0;
  right: 12px;

  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -ms-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;

  background-image: linear-gradient(45deg, #1D1D1D 20%, transparent 25%, transparent 75%, #1D1D1D 80%, #1D1D1D),
                    linear-gradient(-45deg, #1D1D1D 20%, transparent 25%, transparent 75%, #1D1D1D 80%, #1D1D1D);
  background-size: 30px 40px;
  background-repeat: repeat-x;
  background-position: 3px 0;
  z-index: 10;
}

.top-overflow {
  top: -20px;
}

.bottom-overflow {
  bottom: -20px;
  background-position: 3px -20px;
}

.top-overflow-visible .top-overflow {
  top: 0;
}

.bottom-overflow-visible .bottom-overflow {
  bottom: 0;
}

.preview-list {
  list-style-type: none;
  padding-right: 9px;
}

.add-frame-action {
  margin-top: 8px;
  padding: 6px 0;
  overflow: hidden;
  width: 96px;

  border: #888 solid 3px;
  border-radius: 4px;

  color: #888;
  background-color: #222;
  font-size: 13px;
  cursor: pointer;
}

.add-frame-action-icon {
  margin: 3px;
  float: left;
}

.add-frame-action .label {
  overflow: hidden;
  text-align: left;
}

.add-frame-action:hover {
  border-color: var(--highlight-color);
}

.preview-tile {
  position: relative;
  border: #444 3px solid;
  border-radius: 3px;
  margin: 5px 0;
  width: 96px;
  height: 96px;
}

.preview-tile:first-child {
  margin-top: 0;
}

.preview-tile:hover {
  border: #999 3px solid;
}

.tile-view {
  position : relative;
}

.preview-tile .tile-overlay {
  z-index: 10;
  position: absolute;
  background-color: rgba(100, 100, 100, 0.6);
  opacity: 0;
  height: 30px;
  width: 30px;
  border: none;
}

.preview-tile:hover .tile-overlay {
  opacity: 1.0;
}

.preview-tile .tile-overlay.tile-count {
  display: block;
  opacity: 1.0;
  border-bottom-right-radius: 3px;
  top: 0;
  left: 0;
  font-size: 14px;
  line-height: 30px;
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: default;
}

.preview-tile .tile-overlay.delete-frame-action {
   top: 0;
   right: 0;
   border-bottom-left-radius: 3px;
   cursor: pointer;
}

.preview-tile .tile-overlay.duplicate-frame-action {
   bottom: 0;
   right: 0;
   border-bottom-left-radius: 3px;
   cursor: pointer;
}

.preview-tile .tile-overlay.dnd-action {
   bottom: 0;
   left: 0;
   border-top-right-radius: 3px;
   cursor: move;
}

.preview-tile.selected {
  border-color: var(--highlight-color);
}

.preview-tile.selected:after {
  content: "";
  position: absolute;
  top: 38px;
  right: -9px;
  border: transparent 4px solid;
  border-left-color: var(--highlight-color);
  border-width: 6px 0 6px 6px;
  border-style: solid;
}


/**
 *  Drag n drop styles.
 */

.preview-tile-drop-proxy {
  border: 3px dashed var(--highlight-color);
  background-color: rgba(255, 215,0, 0.2);
}
