.action-icon {
  cursor: pointer;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
}

.edit-icon {
  background-image: url('../img/tools/pen.png');
  background-repeat: no-repeat;
}

.merge-icon {
  background-image: url('../img/merge-icon.png');
  background-repeat: no-repeat;
}

.plus-icon {
  font-size:15px;
  text-align:center;
}

.delete-icon {
}