.user-message {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px 47px;
  max-width: 300px;

  border-top-left-radius: 7px;
  border: #F0C36D 1px solid;
  border-right: 0;
  border-bottom: 0;

  color: #222;
  background-color: #F9EDBE;

  font-weight: bold;
  font-size: 13px;

  z-index: 30000;
}

.user-message .close {
  position: absolute;
  top: 6px;
  right: 17px;

  color: gray;

  font-size: 18px;
  font-weight: bold;

  cursor: pointer;
}

.user-message .close:hover {
  color: black;
}

.progress-bar-container {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px;
  width: 360px;
  border-top-right-radius: 2px;
  border: var(--highlight-color) 2px solid;
  border-left: 0;
  border-bottom: 0;
  background-color: #444;
  font-size: 14px;
  z-index: 30000;
  color: #eee;
}

.progress-bar-item {
  float: left;
  height:20px;
}

.progress-bar-status {
  line-height: 20px;
  width : 40px;
  overflow : hidden;
  margin: 0 0 0 10px;
}

.progress-bar {
  border : 1px solid grey;
  margin-top: 8px;
  height : 4px;
  width : 300px;
  background : linear-gradient(to left, var(--highlight-color), var(--highlight-color)) no-repeat -300px 0;
  background-color : black;
}