.resize-section-title {
  vertical-align: top;
  display: inline-block;
  padding-top: 5px;
  width: 25%;
}

/*****************/
/* ANCHOR WIDGET */
/*****************/

.resize-origin-container {
  overflow: hidden;
  position: relative;
  width: 70px;
  margin-top: 5px;
  display: inline-block;
}

.transition .resize-origin-option,
.transition .resize-origin-option:before {
  transition: background-color 0.2s, border-color 0.2s;
}

.resize-origin-option {
  float: left;
  position: relative;

  box-sizing: border-box;
  margin: 0 1px 1px 0;
  width: 20px;
  height: 20px;

  background : #888;

  font-size: 8px;
  text-align: center;
  cursor: pointer;
}

.disabled .resize-origin-option {
  cursor: default;
  background : #555;
  border-color: #555 !important;
}

.resize-origin-option:hover {
  border : 3px solid white;
}

.resize-origin-option.selected {
  border : 3px solid var(--highlight-color);
}

.resize-origin-option:before {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin: -2px;
}

.resize-origin-option.selected:before {
  content: '';
  width: 4px;
  height: 4px;
  background: var(--highlight-color);
}

.disabled .resize-origin-option.selected:before {
  background: #555;
}

.disabled .resize-origin-option[data-neighbor]:before {
  border-color: #555 !important;
}

.resize-origin-option[data-neighbor]:before {
  width: 0;
  height: 0;
  border-width: 4px;
  border-style: solid;
  border-color: transparent;
}

.resize-origin-option[data-neighbor="bottom"]:before {
  border-top-color: var(--highlight-color);
  margin-left: -4px;
}

.resize-origin-option[data-neighbor="left"]:before {
  border-right-color: var(--highlight-color);
  margin-top: -4px;
  margin-left: -6px;
}

.resize-origin-option[data-neighbor="top"]:before {
  border-bottom-color: var(--highlight-color);
  margin-top: -6px;
  margin-left: -4px;
}

.resize-origin-option[data-neighbor="right"]:before {
  border-left-color: var(--highlight-color);
  margin-top: -4px;
}