.resize-section-title {
  vertical-align: top;
  display: inline-block;
  padding-top: 5px;
  width: 25%;
}

.resize-content-checkbox {
  margin-left: 0;
}

.resize-origin-container {
  overflow: hidden;
  position: relative;
  width: 70px;
  margin-top: 5px;
  display: inline-block;
}

.resize-origin-option {
  float: left;
  box-sizing: border-box;
  position: relative;
  margin: 0 1px 1px 0;
  width: 20px;
  height: 20px;
  background : #888;
  font-size: 8px;
  text-align: center;
  cursor: pointer;
}

.resize-origin-option.selected {
  border : 3px solid gold;
}

.resize-origin-option:before {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin: -2px;
}

.resize-origin-option.selected:before {
  content: '';
  width: 4px;
  height: 4px;
  background: gold;
}

.resize-origin-option[data-neighbor]:before {
  width: 0;
  height: 0;
  border-width: 4px;
  border-style: solid;
  border-color: transparent;
}

.resize-origin-option[data-neighbor="bottom"]:before {
  border-top-color: gold;
  margin-left: -4px;
}

.resize-origin-option[data-neighbor="left"]:before {
  border-right-color: gold;
  margin-top: -4px;
  margin-left: -6px;
}

.resize-origin-option[data-neighbor="top"]:before {
  border-bottom-color: gold;
  margin-top: -6px;
  margin-left: -4px;
}

.resize-origin-option[data-neighbor="right"]:before {
  border-left-color: gold;
  margin-top: -4px;
}

.resize-ratio-checkbox,
.resize-smooth-checkbox {
  vertical-align: -2px;
  margin-left: 0;
}