/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-cloud_export {
  background-image: url(../img/spritesheet.png);
  background-position: -512px -276px;
  width: 50px;
  height: 47px;
}
.icon-dragndrop {
  background-image: url(../img/spritesheet.png);
  background-position: -564px -173px;
  width: 48px;
  height: 48px;
}
.icon-duplicate {
  background-image: url(../img/spritesheet.png);
  background-position: -512px -369px;
  width: 16px;
  height: 16px;
}
.icon-export {
  background-image: url(../img/spritesheet.png);
  background-position: -564px -225px;
  width: 43px;
  height: 42px;
}
.icon-favicon {
  background-image: url(../img/spritesheet.png);
  background-position: -582px -151px;
  width: 16px;
  height: 16px;
}
.icon-gallery {
  background-image: url(../img/spritesheet.png);
  background-position: -512px -225px;
  width: 52px;
  height: 51px;
}
.icon-garbage {
  background-image: url(../img/spritesheet.png);
  background-position: 0px 0px;
  width: 512px;
  height: 512px;
}
.icon-gear {
  background-image: url(../img/spritesheet.png);
  background-position: -563px -323px;
  width: 38px;
  height: 37px;
}
.icon-import-icon {
  background-image: url(../img/spritesheet.png);
  background-position: -576px -69px;
  width: 28px;
  height: 36px;
}
.icon-keyboard {
  background-image: url(../img/spritesheet.png);
  background-position: -512px -133px;
  width: 70px;
  height: 40px;
}
.icon-local-storage-icon {
  background-image: url(../img/spritesheet.png);
  background-position: -512px 0px;
  width: 100px;
  height: 69px;
}
.icon-merge-icon {
  background-image: url(../img/spritesheet.png);
  background-position: -512px -69px;
  width: 64px;
  height: 64px;
}
.icon-plus {
  background-image: url(../img/spritesheet.png);
  background-position: -512px -323px;
  width: 51px;
  height: 46px;
}
.icon-popup-preview-arrow-gold {
  background-image: url(../img/spritesheet.png);
  background-position: -576px -105px;
  width: 24px;
  height: 18px;
}
.icon-popup-preview-arrow-white {
  background-image: url(../img/spritesheet.png);
  background-position: -582px -133px;
  width: 24px;
  height: 18px;
}
.icon-resize-icon {
  background-image: url(../img/spritesheet.png);
  background-position: -512px -173px;
  width: 52px;
  height: 52px;
}
.icon-save {
  background-image: url(../img/spritesheet.png);
  background-position: -562px -276px;
  width: 43px;
  height: 42px;
}
