body {
  background: #1D1D1D;
}

/* Browser fixes */
::-ms-clear {
  display: none;
}

.allow-user-select {
  -webkit-touch-callout: initial;
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

.no-overflow {
  overflow: hidden;
}

.highlight {
  color: var(--highlight-color);
}

.pull-top,
.pull-right,
.pull-bottom,
.pull-left {
  position:absolute;
}

.pull-top {
  top:0;
}

.pull-right {
  right:0;
}

.pull-bottom {
  bottom:0;
}

.pull-left {
  left:0;
}

.uppercase {
  text-transform: uppercase;
}

.checkbox-fix {
  margin-left: 0;
}

/**
 * TOOLTIPS
 */
.tooltip-shortcut {
  color: var(--highlight-color);
}

.tooltip-container {
  text-align: left;
}

.tooltip-descriptor {
  color:#999;
}

.tooltip-descriptor:last-child {
  padding-bottom: 5px;
}

.tooltip-descriptor-button {
  padding: 2px;
  border: 1px Solid #999;
  font-size: 0.8em;
  margin-right: 5px;
  width: 35px;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
  line-height: 10px;
}