.toolbox-container {
  border: 4px solid #888;
  font-size: medium;
  color: white;
  text-align: left;
  border-radius: 4px;
  margin-top: 10px;
}

.toolbox-title {
  padding: 8px;
  margin: 0;
  font-size: 15px;
  background: #222;
}

.toolbox-button-container {
  overflow : hidden;
}

.toolbox-button {
  margin: 0;
  width: 25%;
  float : left;
}

/* @override */
.button.toolbox-button {
  border-left-width: 0;
}

.toolbox-button:last-child {
  border-right-width: 0;
}