
/**
 * Layers container
 */
.layers-list-container {
}

.layers-title {
  position: relative;
}

.layers-toggle-preview {
  position: absolute;
  top: 0.3em;
  right: 0.5em;

  color: #999;
  font-size: 1.3em;
  cursor: pointer;

  transition: 0.2s linear;
}

.layers-toggle-preview:hover {
  color: white;
}

.layers-toggle-preview-enabled,
.layers-toggle-preview-enabled:hover {
  color : gold;
}

.layers-list {
  font-size : 12px;
}

.layer-item {
  height:24px;
  line-height: 24px;
  padding : 0 0 0 10px;
  border-top: 1px solid #444;
  cursor : pointer;
}

.layer-item:hover {
  background : #222;
}

.current-layer-item,
.current-layer-item:hover {
  background : #333;
  color: gold;
}

.layers-button-container {
  overflow : hidden;
}

.layers-button {
  margin: 0;
  width: 16.66667%;
  float : left;
}

/* @override */
.layers-button-container .layers-button {
  border-left-width: 0;
}

.layers-button:last-child {
  border-right-width: 0;
}