
/**
 * Layers container
 */
.layers-list-container {
}

.layers-title {
  background-image: url('../img/layers.svg');
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: 97%;
}

.layers-list {
  font-size : 12px;
}

.layer-item {
  height:24px;
  line-height: 24px;
  padding : 0 10px;
  border-top: 1px solid #444;
  cursor : pointer;
}

.layer-item:hover {
  background : #222;
}

.current-layer-item,
.current-layer-item:hover {
  background : #333;
  color: gold;
}

.layers-button-arrow {
  font-family : 'Lucida Grande', Calibri;
  padding : 2px 6px 0 6px;
}