
/**
 * Planes container
 */
.planes-list-container {
  min-height: 85px;
  display: flex;
  flex-direction: column;
}

/**
 * Planes title and toggle preview
 */

.planes-title {
  position: relative;
  flex-shrink: 0;
}

.planes-toggle-preview {
  position: absolute;
  top: 0.3em;
  right: 0.5em;

  color: #999;
  font-size: 1.3em;
  cursor: pointer;

  transition: 0.2s linear;
}

.planes-toggle-preview:hover {
  color: white;
}

.planes-toggle-preview-enabled,
.planes-toggle-preview-enabled:hover {
  color : gold;
}

/**
 * Planes buttons
 */

.planes-button {
  margin: 0;
  width: 20%;
  float : left;
}

/**
 * Planes list
 */

.planes-list {
  font-size : 12px;
  overflow: auto;
}

.plane-item {
  position: relative;
  height:24px;
  line-height: 24px;
  padding: 0 0 0 10px;
  border-top: 1px solid #444;
  cursor: pointer;
}

.plane-item:hover {
  background : #222;
}

.plane-item-offset {
  position: absolute;
  right: 8px;
}

.current-plane-item,
.current-plane-item:hover {
  background : #333;
  color: gold;
}
