<div id="cheatsheet-wrapper" style="display:none">
  <div class="cheatsheet-container">
    <div class="cheatsheet-section">
      <h3 class="cheatsheet-title">Tool shortcuts</h3>
      <ul class="cheatsheet-tool-shortcuts"></ul>
    </div>
    <div class="cheatsheet-section">
      <h3 class="cheatsheet-title">Misc shortcuts</h3>
      <ul class="cheatsheet-misc-shortcuts"></ul>
    </div>
    <div class="cheatsheet-section">
      <h3 class="cheatsheet-title">Selection shortcuts</h3>
      <ul class="cheatsheet-selection-shortcuts"></ul>
      <h3 class="cheatsheet-title">Color shortcuts</h3>
      <ul class="cheatsheet-colors-shortcuts"></ul>
    </div>
  </div>
</div>
<span
  class="cheatsheet-link"
  rel="tooltip" data-placement="right" title="Keyboard shortcuts">&nbsp;</span>
<script type="text/template" id="cheatsheet-shortcut-template">
  <li class="cheatsheet-shortcut">
    <div class="cheatsheet-icon {{shortcutIcon}}"></div>
    <span class="cheatsheet-key">{{shortcutKey}}</span>
    <span class="cheatsheet-description">{{shortcutDescription}}</span>
  </li>
</script>