<div class="sticky-section left-sticky-section" id="tool-section">
  <div class="sticky-section-wrap">
    <div class="vertical-centerer">
      <ul id="tools-container" class="tools-wrapper"></ul>
      <div class="palette-wrapper">
        <div class="tool-icon tool-color-picker">
          <input id="color-picker" class="color {hash:true}" type="text" value="" />
          <input id="secondary-color-picker" class="secondary-color-picker color {hash:true}" type="text" value="" />
        </div>
        <div class="tool-icon tool-palette">
          <div>
            <span class="tool-icon palette-color" data-color="TRANSPARENT" title="Transparent"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>