<div id="animated-preview-container" class="preview-container">
  <div class="canvas-container-wrapper minimap-container">
    <div class="open-popup-preview-button" title="Open preview in popup" rel="tooltip" data-placement="bottom"></div>
    <div id="animated-preview-canvas-container" class="canvas-container">
      <div class="canvas-background"></div>
    </div>
  </div>
  <div>
    <div title="Toggle onion skin (alt+O)"
         rel="tooltip"
         data-placement="bottom"
         class="piskel-icon-onion preview-toggle-onion-skin"></div>
    <span id="display-fps" class="display-fps"></span>
    <input id="preview-fps" class="range-fps" type="range" min="0" max="24"/>
  </div>
  <div>
  </div>
</div>