<div class="vertical-centerer">
  <div 
  	data-setting="user" 
  	class="tool-icon gear-icon" 
  	title="Preferences" 
  	rel="tooltip" data-placement="left"></div>
  
  <a 
  	class="tool-icon gallery-icon" 
  	title="Visit gallery" 
  	href="http://juliandescottes.github.io/piskel-website/" 
  	rel="tooltip" data-placement="left" target="_blank"></a>
  
  <div 
  	class="tool-icon save-icon" 
  	title="Save to gallery" 
  	onclick="pskl.app.storeSheet()" 
  	rel="tooltip" data-placement="left" ></div>
  
  <div 
  	data-setting="gif"
  	class="tool-icon upload-cloud-icon" 
  	title="Upload as an animated GIF" 
  	rel="tooltip" data-placement="left">
    <span class="label">GIF</span>
  </div>
  
  <div 
  	class="tool-icon upload-cloud-icon" 
  	title="Upload as a spritesheet PNG" 
  	onclick="pskl.app.uploadAsSpritesheetPNG()" 
  	rel="tooltip" data-placement="left">
    <span class="label">PNG</span>
  </div>
</div>