<div class="vertical-centerer">
  <div
    data-setting="save"
    class="tool-icon save-icon"
    title="Save to gallery"
    rel="tooltip" data-placement="left" >
  </div>

  <div
    data-setting="user"
    class="tool-icon gear-icon"
    title="Preferences"
    rel="tooltip" data-placement="left">
  </div>

  <div
    data-setting="import"
    class="tool-icon import-icon"
    title="Import an existing picture"
    rel="tooltip" data-placement="left">
  </div>

  <div
    data-setting="gif"
    class="tool-icon upload-cloud-icon"
    title="Upload as an animated GIF"
    rel="tooltip" data-placement="left">
    <span class="label">GIF</span>
  </div>

  <div
    class="tool-icon upload-cloud-icon"
    title="Upload as a spritesheet PNG"
    onclick="pskl.app.uploadAsSpritesheetPNG()"
    rel="tooltip" data-placement="left">
    <span class="label">PNG</span>
  </div>
</div>