<div class="vertical-centerer">


  <div
    data-setting="user"
    class="tool-icon gear-icon"
    title="Preferences"
    rel="tooltip" data-placement="left">
  </div>

  <div
    data-setting="resize"
    class="tool-icon resize-icon"
    title="Resize the drawing area"
    rel="tooltip" data-placement="left">
  </div>

  <div
    data-setting="save"
    class="tool-icon save-icon"
    title="Save to your gallery, save locally<br/>or export as a file"
    rel="tooltip" data-placement="left" >
  </div>

  <div
    data-setting="export"
    class="tool-icon export-icon"
    title="Export as Image, as Spritesheet<br/>or as Animated GIF"
    rel="tooltip" data-placement="left">
  </div>

  <div
    data-setting="import"
    class="tool-icon local-storage-icon"
    title="Import an existing image,<br/>an animated GIF or a .piskel file"
    rel="tooltip" data-placement="left">
  </div>

</div>