<script type="text/html" id="templates/settings/preferences/tile.html">
  <div class="preferences-panel-tile">
    <div class="settings-item">
      <label>
        Enable tile mode
        <input type="checkbox" value="1" class="tile-mode-checkbox" name="tile-mode-checkbox"/>
      </label>
    </div>

    <div class="settings-item">
      <label>Mask opacity</label>
      <input type="range" min="0" max="0.5" step="0.01"
        class="settings-opacity-input tile-mask-opacity-input" name="tile-mask-opacity"/>
      <span class="settings-opacity-text tile-mask-opacity-text"></span>
    </div>
  </div>
</script>