/**
 * Piskel specific CSS for spectrum widgets
 */

/* Widget's main container */
.sp-container {
  border-radius: 4px;
  background-color: #2B2B2B;
  border: solid 4px #888;
  padding: 5px 5px 0 5px;
  box-shadow : 0 0 5px 0 black;
}

.sp-container[data-y-position=bottom] {
  border-top-left-radius: 0;
}

.sp-container[data-y-position=top] {
  border-bottom-left-radius: 0;
}

/* Color square container */
.sp-color, .sp-hue {
  border : 1px solid #222;
}

/* Remove the padding on the input container */
.sp-replacer {
  padding: 4px;
  height: 100%;
  border-width: 0;
  box-sizing: border-box;
  -moz-box-sizing:border-box;
  background-color: #444;
}

.sp-replacer:hover {
  background-color: #888;
}

/* Hide the triangle */
.sp-dd {
  display: none;
}

/*  */
.sp-preview {
  margin-right: 0;
  height: 100%;
  width: 39px;
  border-width: 0;
}

.sp-palette-row-selection {
  max-width: 62px;
}

.sp-palette .sp-thumb-el {
  margin : 0 5px 5px 0;
  width: 24px;
  height: 24px;
  border-color: #444;

}

.sp-picker-container, .sp-palette-container {
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  border-left-width: 0;
  border-right-width: 0;
}

.sp-picker-container {
  padding: 5px;
  padding-bottom: 300px;
  margin-bottom: -295px;
}

.sp-slider {
  height: 5px;
  left: -2px;
  right: -2px;
  border: 2px solid white;
  background: rgba(255,255,255,0);
  opacity: 1;
  border-radius: 2px;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.5), inset 0 0 1px 1px rgba(0,0,0,0.5);
}

.sp-dragger {
  border-radius: 8px;
  height: 12px;
  width: 12px;
  border: 2px solid white;
  background: none;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.5), inset 0 0 1px 1px rgba(0,0,0,0.5);
}

.sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: var(--highlight-color);
  box-shadow: 0 0 0px 1px var(--highlight-color);
}

.sp-input {
  border: 1px solid #666;
  margin: 0;
  background: #111;
  border-radius: 2px;
  color: #D3D3D3;
  font-family: monospace!important;
}

.sp-input.sp-validation-error {
  background: #330000;
}