#dialog-container-wrapper {
  position: absolute;
  z-index: 20000;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  padding: 50px 150px;

  box-sizing: border-box;
  -moz-box-sizing : border-box;

  color: white;
  background: rgba(0,0,0,0.5);
  display : none;
}

#dialog-container {
  width: 100%;
  height:  100%;

  box-sizing: border-box;
  -moz-box-sizing : border-box;

  border-radius: 3px;
  background: rgba(0,0,0,0.9);
  overflow: auto;
}